body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

h2{
    text-align: center;
}
.main{
    
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box{
    height: 400px;
    width: 40%;
    border: 2px solid black;
    background-color: rgb(240, 225, 225);
    border-radius: 10px;
    position: relative;
}

.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;
}
.btn{
    padding: 7px 7px;
    width: 96%;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    margin: 6px 10px;
}