html, body{
 padding: 0;
 margin: 0;   
 height: 100%;
 width: 100%;
 background: url(img/calculator-1680905_1280.jpg);
 background-repeat: no-repeat;
}

.button{
    /* padding: 20px; */
    height: 55px;
    width: 55px;
    margin: 0px 4px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}

.row input{
    font-size: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 12px
}
