
.text-center{
    text-align: center;
}

.bg-red{
    background: cyan;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
    justify-content: center;
}

.tiem-center{
    align-items: center;
    
}